


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #f0f4ff, #d9e4ff);
  color: #333;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: #002b5b;
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 3rem;
}

.tarjeta {
  background: rgb(204, 231, 236);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10 8px 30px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.tarjeta img {
  width: 210px;
  height: 210px;
  object-fit: cover;
}

h2 {
  margin: 1rem 0 0.3rem;
}

p {
  color: #666;
  margin-bottom: 1rem;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.botones a {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  transition: all 0.3s;
}

.ver {
  background-color: #4a90e2;
  color: white;
}

.descargar {
  border: 2px solid #4a90e2;
  color: #4a90e2;
}

.ver:hover {
  background-color: #357abd;
}

.descargar:hover {
  background-color: #4a90e2;
  color: white;
}
