body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8ff;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, #6a00ff, #9b4dff);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1.8em;
  font-weight: bold;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.producto {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  width: 80%;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

.producto h3 {
  margin: 15px 0 10px;
  color: #333;
}

.precio {
  color: #6a00ff;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  background-color: #6a00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

button:hover {
  background-color: #5200cc;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ececff;
  color: #555;
  margin-top: 40px;
}


.titulo-seccion {
  text-align: left;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  color: #0084ff; 
  display: inline-block;
}

.icono {
  width: 100x;          
  vertical-align: middle;
  margin-right: 20px;    
}

.titulo-seccion h2 {
  display: inline;
  font-size: 20px;
  font-weight: 600;
}

.linea {
  height: 3px;
  background-color: #2b00ff; 
  width: 100%;
  border-radius: 3px;
  margin-top: 5px;
}








